.filter {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 10px 0;

  &-item {
    display: inline-block;
    width: 70px;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    color: #666;
    user-select: none;

    &:hover {
      background-color: #f6f6f6;
    }

    &.is-active {
      background-color: #f0f0f0;
    }
  }
}
