.todo-list {
  margin-top: 15px;
  border: 1px solid #e5e5e5;
  max-height: 500px;
  min-height: 50px;

  .todo-item {
    padding: 15px;
    display: flex;
    justify-content: space-between;

    &:hover {
      background-color: #f9f9f9;
    }

    & + .todo-item {
      border-top: 1px solid #e5e5e5;
    }

    &-btns {
      > span {
        color: #3A92EF;
        cursor: pointer;
        font-size: 14px;

        &:hover {
          text-decoration: underline;
        }

        & + span {
          margin-left: 12px;
        }
      }
    }

    &.is-done {
      > span {
        text-decoration: line-through;
        color: #bebebe;
      }
    }
  }

  .empty-records {
    color: #999;
    text-align: center;
    height: 50px;
    line-height: 50px;
  }
}
